<h1>Item#index</h1>


<button type="button" class="btn-blue">Button</button><br>


<% @allitems.each do |item| %>

<div style="display: flex; flex-direction: row; justify-content: space-around;">
	<%= image_tag(item.image, size: "150x150") %>
	<div>
		<h3><%= link_to item.name, "/item/show/#{item.id}" %></h3><br>
		<h3><%= item.price %>$</h3><br>
		<%= link_to "ADD TO CART" %>
	</div>
</div>
<hr>

<%end%>