<h1>Item#index</h1>

<% @allitems.each do |item| %>

<div style="display: flex; flex-direction: row; justify-content: space-around;">
	<%= image_tag(item.image, size: "50%") %>
	<div><h3><%= link_to item.name, "/item/show/#{item.id}" %></h3><br>
	<%= item.price %>$</div>
</div>
<hr>

<%end%>