<div class="witdh">

<% @allitems.each do |item| %>
<hr>
<div style="display: flex; flex-direction: row; justify-content: space-around;">
	<%= image_tag(item.image, size: "150x150") %>
	<div>
		<h3><%= link_to item.name, "/item/show/#{item.id}" %></h3><br>
		<h3><%= item.price %>$</h3><br>
	</div>
</div>


<%end%><br>

</div>
