<h1>Summary of your order</h1>

Total amount : $ <%= @order.total %> <br><hr>

<% @order.items.each do |item| %>
	Name: <%= item.name %><br>
	Price: $ <%= item.price %><br>
	<hr>
<%end%>
<%= link_to "Process to payment", new_charge_path, class: "btn-blue" %>