<div class="cart_show">
<h1>Summary of your order</h1><hr>

<% @order.items.each do |item| %>
	Name: <%= item.name %><br>
	Price: $<%= item.price %><br>
	<hr>
<%end%><br>
<strong>Total amount : $<%= @order.total %></strong><br><br><br>
<%= link_to "Process to payment", new_charge_path, class: "btn-blue" %><br>
</div>