<!-- BANNER -->
<div class="banner">
  <div class="banner-content">
    <h1>Ils n'attendent que vous</h1>
    <p>Boules de poils pleines de charme à la recherche de leurs humains qui leur apporteront amour et croquettes</p>
    <a href="http://www.spa-strasbourg.org/" class="btn-blue" target="_blank">Adopter un chat</a>
  </div>
</div>


<!-- TABS -->
<div class="wrapper">
  <section id="about">
    <div class="tabs">
      <ul class="tabs-items">
        <li class="tab">
          <input type="radio" name="tabs" checked="checked" id="tab1" />
          <label for="tab1">12,7</label>
          <div id="tab-content1" class="content">
            <h2>12,7 millions</h2>
            <hr/>
            <br/>
            <p>Il y a 12,7 millions de chats en France contre 7,3 millions de chiens. Le chat est ainsi l'animal domestique le plus présent dans notre pays. (eh oui oui oui) </p>
          </div>
        </li>

        <li class="tab">
          <input type="radio" name="tabs" id="tab2" />
          <label for="tab2">28</label>
          <div id="tab-content2" class="content">
            <h2>28% </h2>
            <hr/>
            <br/>
            <p>Sur les plus de 28 millions de foyers recensés en France, 28% possèdent au moins un chat (soit plus de 8 millions de foyers).</p>
          </div>
        </li>

        <li class="tab">
          <input type="radio" name="tabs" id="tab3" />
          <label for="tab3">4</label>
          <div id="tab-content3" class="content">
            <h2>4 portées</h2>
            <hr/>
            <br/>
            <p>Une chatte, sans moyen de contraception, peut avoir 4 portées par an soit environ 16 chatons et 150 chatons durant toute sa vie... D'où l'importance de la stérilisation !</p>
          </div>
        </li>

        <li class="tab">
          <input type="radio" name="tabs" id="tab4" />
          <label for="tab4">25</label>
          <div id="tab-content4" class="content">
            <h1>25 ans</h1>
            <hr/>
            <br/>
            <p>25 ans est l’âge du plus vieux chat connu ; en moyenne un chat vit de 12 à 15 ans. </p>
          </div>
        </li>

        <li class="tab">
          <input type="radio" name="tabs" id="tab5" />
          <label for="tab5">100 000</label>
          <div id="tab-content5" class="content">
            <h2>100 000</h2>
            <hr/>
            <br/>
            <p>Chaque année, plus de 100 000 chats et chiens (oui on laisse exceptionnellement une petite place à nos amis canins sur cette page) sont abandonnés ! Ce qui fait de la France la détentrice de ce triste record... </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

<!-- MISSION -->
  <section id="about">
    <div class="about-container">
      <h2>Notre mission</h2>
      <h3>Trouver un foyer pour chacun de nos chats qui ne demandent qu'une chose : de l'amour. Nous mettons tout en oeuvre pour s'assurer du bien-être des chats que nous proposons à l'adoption en sélectionnant soigneusement les personnes qui se portent volontaires pour tenter l'aventure.</h3>
      <hr>
      <p>Chez Chadoption nous sommes conscients que l'arrivée d'un nouveau compagnon dans un foyer n'est pas toujours chose simple, c'est pour cela que nous mettons en place un suivi personnalisé pour chacune de nos adoptions.</p>
    </div>
  </section>

<!-- VIDEO  -->
  <div class="infos">
    <div class="video-container">
      <h3>Si vous n'êtes pas en mesure d'adopter, on pense également à vous : voici une vidéo pour <span>égayer votre vie</span></h3>
      </div>
      <div class="info-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VAhUFUzJOic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
  </div>

    <!-- CARDS -->
    <div class="cards-container">
      <h2>Quelques chats à l'adoption</h2>
      <div class="cards">
        <div class="card">
          <div class="card-avatar">
            <img src="assets/chaton1.jpg" class="avatar avatar-large">
          </div>
          <div class="card-name">
            <h5>Robert</h5>
          </div>
          <div class="card-description">
            <p>
              Très joueur, il adore les échecs, mais ne refuse jamais une partie de cartes. Il est néanmoins très caractériel et il est fortement conseillé de le laisser gagner. Il ne serait pas proposé à l’adoption si son ancien propriétaire, passablement éméché, ne lui avait pas balancé “Héhé, t’es foutu maintenant” en pleine partie endiablée de Monopoly, alors qu’il venait d’acheter la quatrième gare. Les blessures de ce dernier n’étaient malheureusement pas compatibles avec la reprise d’une relation saine.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-avatar">
            <img src="assets/chaton3.jpg" class="avatar avatar-large">
          </div>
          <div class="card-name">
            <h5>Lucie</h5>
          </div>
          <div class="card-description">
            <p>
              Son prénom lui a été donné d’après la magnifique chanson de Pascal Obispo ! Elle est très mignonne, très douce, et surtout très intelligente, preuve en est, elle sait dire “Miaouw” en six langues (de chat). Elle aurait pu devenir diplomate si elle n’était pas aussi fainéante. Dormir 18h par jour, ça n’aide pas à saisir une opportunité. C’est toujours dommage un talent gâché.. Ça pourrait peut-être intéresser TF1 ?
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-avatar">
            <img src="assets/chaton2.jpg" class="avatar avatar-large">
          </div>
          <div class="card-name">
            <h5>Christobald</h5>
          </div>
          <div class="card-description">
            <p>
              Christobald souffre du syndrôme de Benjamin Button (version chat, mais c’est le même principe). Âgé aujourd’hui de 16 ans, il ne lui reste pas beaucoup de temps pour vous offrir tout l’amour qu’il a à donner. Grâce à son âge avancé, il a en plus quantité d’histoires plus ou moins véridiques à raconter, et c’est très agréable à écouter les longues soirées d’hiver en famille autour de la cheminée (s’il passe l’hiver !).
            </p>
          </div>
        </div>
      </div>
    </div>

<!-- FORMULAIRE CONTACT -->
    <section id="contact">
      <h3>Contactez-nous</h3>
      <p> N'hésitez pas à nous poser toutes les questions qui vous passent par la tête avant de sauter le pas de l'adoption. </p>
      <form>
        <label for="name">Nom</label>
        <input type="text" id="name" placeholder="Votre nom">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Votre email">
        <input type="submit" value="OK" class="btn-blue">
      </form>
    </section>
  </div>
