.navbar {
  position: fixed;
  z-index:1000;
  top: 0;
  left: 0;
  background-color: rgb(45,49,66);
  width: 100%;
  padding-top: 30px !important;
}

.navbar-right {
   ul {
     display: flex;
     justify-content: flex-end;
     margin-right: 100px;
     align-items: center;
     list-style: none;
     margin-top: -10px;
     li {
       padding-right: 60px;
       a {
         text-decoration: none;
         color: white;
         font-size: 17px;
         text-transform: uppercase;
         font-family: 'Open Sans Condensed', sans-serif;
       }
       a:hover {
         color: grey;
       }
     }
   }
}

.navbar-logo {
  width: 200px;
  height: 30px;
  img {
    margin-top: -50px;
    margin-left: 150px;
  }
}
