<div class="form_width">


  <div class="card">
    <div>
      <h1>Your Profile</h1>
      <P><%= @user.email %></P>
      <h2>Adress of Shipping</h2>
      <h3><%= @user.name %></h3>
      <p class="text_profile">
        16 rue de la Paix<br>
        75001 Paris<br>
        Chez Rothschild </p>
    </div>
    <%= link_to "Edit Profil", edit_user_registration_path, class: "btn-blue" %>
  </div>

</div>
   

