<div class="form_width">

<div class="card" >
    <div>
    <h1>Your Profile</h1>
    <P><%= @user.email %></P>
    <h2>Adres of shipping</h2>
    <h2><%= @user.name %></h2>
    <p class="text_profile">Adres : 16 rue de la Paix</br>
      75001 Paris 1</br>
      Dans le palais de Macronette</p>
    </div>
  </div>

</div>