<div class="footer">
  <div>
    <div class="social">
      <ul>
      <li>
        <a href="#">
          <i class="fab fa-facebook-square"></i> Facebook
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fab fa-twitter"></i> Twitter
        </a>
      </li>
    </ul>
    </div>
    <div class="copyright"> © 2018. All rights reserved.
    </div>
  </div>
</div>
