<div class="wrapper">
  <div class="navbar">
    <div class="navbar-logo">
    </div>

   <div class="navbar-right">
     <ul>
       <li>
         <a href="#">Adopt a cat</a>
       </li>
       <li>
         <a href="#about">About us</a>
       </li>
       <li>
         <a href="#contact">Contact</a>
       </li>
       <li>
         <a href="#contact">Panier</a>
       </li>
       <div class="dropdown">
           <div class="dropdown-content">
             <a href="#">Mon profil</a>
             <a href="#">Mes adoptions</a>
             <a href="#">Se déconnecter</a>
           </div>
        </div>
     </ul>
   </div>
  </div>
</div>
